.rq-resource-table-container {
  background-color: var(--rq-bg-color-primary);
  height: 100%;
  width: 100%;
  overflow: auto;

  .rq-resource-table-splitpane {
    display: flex;
    height: 100%;
    width: 100%;

    > div {
      overflow: auto;
      width: 50%;
      flex: 1 1 auto;
    }
  }

  .rq-resource-table {
    cursor: default;
    color: var(--rq-color-secondary);
    font-size: var(--rq-font-size-normal);

    .rq-resource-table-context-menu .ant-dropdown-menu,
    .ant-dropdown-menu-submenu ul[id*='more_options'] {
      width: 250px;
      border-radius: 4px;
      background: #222325;
      border: 1px solid var(--rq-border-color);
    }

    .rq-resource-table-row.failed {
      color: var(--rq-color-error);

      &[aria-selected='true'] {
        background-color: var(--rq-bg-color-error-row-selected);
      }
    }
  }
}
